*{
	font-family: Ebrima;
	font-size: 20px;
}
.menu ul {
	display: flex;
	padding: 0;
	margin: 0;
	list-style: none;
}

.menu a {
	display: block;
	padding: 2rem;
	background-color: #3045FF;
	text-decoration: none;
	color: white;
}

.menu a:hover {
	background-color: #119EFF;
}

.menu ul li ul {
	display: none;
}

.menu ul li a:hover + ul, .menu ul li ul:hover {
	display: block;
}

nav {
	border: 0;
	background-color: #3045FF;
	padding: 5px 0;

	height:320px;
	left: 0;
	right: 0;
	top: 0;
	position: fixed;
} 

#titulo {
	color: black;
	font-size: 30px;
}

body {
	background-color: #52B9FF;
	padding-top: 340px;
}