/*Seccion de las cabeceras*/

section {
    width: 97%;
    padding: 1rem;
}

h1 {
    text-align: center;
}

hr {
    border: 1px solid black;
    margin-top: 2.5rem;
}


/*Seccion para imagenes*/

.imagensota {
    width: 100%;
    background-color: rgb(205, 200, 205);
}


/*Seccion de la información extra*/

.info-extra1,
.info-extra2 {
    margin-top: 2.5rem;
    margin-bottom: 5rem;
    width: 47.5%;
    padding-right: 1%;
    padding-left: 1%;
    /*El color de fondo es temporal*/
    background-color: rgb(25, 250, 250);
    float: left;
    text-align: center
}

.info-extra1 {
    border-right: 2px solid black;
}

.info-extra2 {
    border-left: 2px solid black;
}


/*Seccion del botn*/

.boton {
    clear: both;
    text-align: center;
}