*{
	padding: 0;
	margin:0;
	font-family: 'Cormorant Upright';
	color: #F2F2F2;
	font-size: 3vh;

}
.titulo{
	background-color: rgb(107, 186, 167);
	margin-bottom: .5rem;
}
h1{
	font-family: 'Courgette';
	font-style: italic;
	padding: .5rem;
	font-size: 4vh;
}
#imagen{
	width: 15%;
	float: right;
}
body{
	background-image: url("../img/fondoRegistro.jpg");
	background-size: cover;
	background-position: center center;
	background-repeat:  no-repeat;
	background-attachment: fixed;
	background-color: white;
}
.registro{
	clear: both;
	width: 40%;
	margin-top: 1rem;
	margin-left: 29%;
	margin-right: 29%;
	border: 5px solid #B4DBC0;
	box-shadow: 5px 5px black;
	background-color: #B4DBC0

}
table{
	width: 80%;
	margin-right: 10%;
	margin-left:10%;
	margin-top: 1.5rem;
	margin-bottom: 1rem;
}
td,tr, #id_ingreso{
	padding-top: .5rem;
	height: 20px;
}
#boton{
	width: 80%;
	text-align: center;
	border-radius: 10px;
	box-shadow: 1px 1px #000;
	margin-left: 10%;
	margin-right: 10%;
	
}
#nota{
	font-size: 2vh;
	padding-top: .2rem;
}
#cedula_ocult_td, #cedula_ocult_input{
	opacity: 0;
}
input{
	width: 90%;
	color: black;
	font-family: 'IBM Plex Sans Condensed';

}
select, option{
	color: black;
}